<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/about.css">
  </head>
  <body>
   
    {{!-- <h1>Aaout Us</h1> --}}
   <div class="container">
     {{!-- {{>navbar}} --}}
    <div class="row">
      <div class="col-6">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate autem vero modi aliquid reprehenderit voluptatem dolorem optio repellat aliquam deleniti qui nemo quia debitis saepe reiciendis, animi alias quod in facere doloremque sequi! Assumenda reprehenderit atque maiores possimus obcaecati cumque, ipsa suscipit facere aliquid necessitatibus error nihil quaerat eos voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, enim!</p>
      </div>
      <div class="col-6">
        <div class="card">
        <div class="imgbox">
            <img src="https://scontent-ccu1-1.xx.fbcdn.net/v/t1.6435-9/176107554_1396943947340553_6393267130086132807_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=YGWyMtHKcSYAX-wb8Ii&_nc_ht=scontent-ccu1-1.xx&oh=00_AT8Hn5a-3pUeZz6kCQRwVeT7Nu36rIdK3bOi9hI_PQ8gwQ&oe=63488136" alt="" srcset="Nature photo">
        </div>
        <div class="content">
            <h2>Muktarul Hoque</h2>
            <p>3rd year student at GCETTS,Hooghly</p>
        </div>
    </div>
      </div>
    </div>
   </div>
   <hr>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
  </body>
</html>