<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="/style.css"> --}}
    <link rel="stylesheet" href="../../public/css/home.css">
</head>

<body>
    {{>navbar}}
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000" style="background-image:url(../../public/img/1.jpg)">
                <div class="container">
                    <h1>Example Headline 1</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum exercitationem illo harum sed
                        adipisci
                        pariatur, numquam minus fugit quasi esse?</p>
                    <a href="" class="btn btn-lg btn-primary"> Sign Up</a>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000" style="background-image:url(../../public/img/2.jpg)">
                <div class="container">
                    <h1>Example Headline 2</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum exercitationem illo harum sed
                        adipisci
                        pariatur, numquam minus fugit quasi esse?</p>
                    <a href=" " class="btn btn-lg btn-primary"> Sign Up</a>
                </div>
                <div class="carousel-item" data-interval="3000" style="background-image:url(../../public/img/4.jpg)">
                    <div class="container">
                        <h1>Example Headline 3</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum exercitationem illo harum sed
                            adipisci
                            pariatur, numquam minus fugit quasi esse?</p>
                        <a href=" " class="btn btn-lg btn-primary"> Sign Up</a>
                    </div>

                </div>
            </div>
        </div>
</body>
</body>

</html>